body {
    background-color: #000000db;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #ff1d46;
    border-radius: 14%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    /* margin: 0 1%; */
}

#titulo {
    color: white;
    font-size: 25px;
    margin-top: 2%;
}

.imgDaGata {
    width: 130px;
}

.um {
    border-top-left-radius: 6%;
}

.dois {
    border-top-right-radius: 6%;
}

.tres {
    border-bottom-left-radius: 6%;
}

.quatro {
    border-bottom-right-radius: 6%;
}

#images {
    margin-bottom: 5%;
    border-radius: 13%;
    /* display: flex; */
    /* width: 1%; */
}

.photo12 {
    display: flex;
    justify-content: center;
}

.photo34 {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

#sim {
    background-color: #85135d;
    border: #85135d;
    /* border-radius: 1%; */
}

#nao {
    background-color: #85135d;
    border: #85135d;
    margin-top: 10%;
    margin-bottom: 30%;
}


@media screen and (max-width: 500px) {
    #body{
        margin-top: 30%;
    }

    #container {
        width: 90%;
        height: 500px;
    }

    #titulo {
        margin-top: 5%;
    }

    #images {
        display: flex;
        align-items: center;
    }

    .imgDaGata {
        width: 35%;
        /* height: 250px; */
    }
  }